.product {
  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 282.16px;
    &-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      visibility: hidden;
      width: 100%;
      height: 35px;
      text-align: center;
      line-height: 35px;
      background-color: #f72b3f;
      color: white;
      &:hover {
        background-color: #060085;
        color: white;
      }
    }
    &-img {
      width: 100%;
      max-height: 100%;
      img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
      }
    }
    &-promotion {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 25px;
      z-index: 10;
      font-size: 12px;
      line-height: 25px;
      text-align: center;
      background-color: #f72b3f;
      color: white;
      margin-bottom: 15px;
    }
    &:hover {
      .product__img-btn {
        visibility: visible;
      }
      .product__img-img {
        opacity: 0.5;
      }
    }
  }
  &__slide {
    display: flex;
    align-items: center;
    padding: 0 10px;
    .fa-angle-left {
      margin-right: 10px;
    }
    .fa-angle-right {
      margin-left: 10px;
    }
    img {
      height: 65px;
    }
  }
  &__infor {
    margin-top: 10px;
    &-title,
    &-branch {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      a {
        display: block;
        color: #707070;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          color: #f72b3f;
        }
      }
    }
    &-branch {
      a {
        font-size: 13px;
      }
    }
    &-price {
      display: flex;
      justify-content: center;
      align-items: center;
      .price--new {
        color: #f72b3f;
        margin-right: 10px;
      }
      .price--old {
        text-decoration: line-through;
        font-size: 12px;
        color: #acacac;
      }
    }
    &-title {
      a {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
.modal {
  &.active {
    display: block;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}
.popup {
  max-width: 880px;
  margin: 6rem auto;
  .modal-content {
    width: 880px;
    position: relative;
    .close {
      position: absolute;
      top: -20px;
      right: -20px;
      color: white;
      cursor: pointer;
    }
  }

  .popup__head-left {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
    i {
      margin-right: 10px;
    }
    &:nth-child(1) {
      border-right: 1px solid #ebebeb;
    }
  }

  &__infor {
    display: flex;
    &-img {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 127px;
        margin-top: 20px;
      }
      span {
        font-size: 12px;
        margin: 10px 0;
        color: #555555;
      }
      p {
        color: #f72b3f;
        margin-bottom: 30px;
      }
    }
    &-price {
      width: 50%;
      display: flex;
      flex-direction: column;
      .price-title {
        text-align: center;
        color: #555555;
        margin-top: 40px;
      }
      .price-price {
        font-size: 24px;
        margin-top: 5px;
        text-align: center;
      }
      .price-btn {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        a {
          font-size: 16px;
          font-weight: bold;
          padding: 0 30px;
          text-transform: uppercase;
          margin-top: 15px;
          background: #f72b3f;
          height: 55px;
          text-align: center;
          border-radius: 3px;
          color: white;
          line-height: 55px;
          min-width: 230px;
        }
      }
    }
  }
}
@media screen and (min-width: 1950px) {
  .product {
    &__img {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .product {
    &__img {
      height: 226px;
      &-img {
        height: 100%;
        width: auto;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
    &__slide {
      margin-top: 30px;
    }
    &__infor {
      margin-top: 25px;
    }
  }
}
@media screen and (max-width: 992px) {
  .product {
    &__img {
      align-items: center;
      &-promotion {
        right: -5px;
      }
    }
    &__slide {
      display: none;
    }
    &__infor {
      margin-top: 15px;
    }
  }
  .popup {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .product {
    &__img {
      height: 282.16px;
      &-promotion {
        right: 0px;
      }
    }
  }
  .modal {
    padding-right: 0 !important;
  }
  .popup {
    width: 100%;
    .modal-content {
      margin: 0 15px;
      .close {
        display: none;
      }
    }
    &__infor {
      width: 100%;
      flex-wrap: wrap;
      &-img {
        width: 100%;
      }
      &-price {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 543px) {
  .product {
    &__img {
      height: 182.5px;
    }
  }
}
@media screen and (max-width: 414px) {
  .product {
    &__img {
      height: 157.5px;
    }
  }
}
@media screen and (max-width: 374px) {
  .product {
    &__img {
      height: 130px;
    }
    &__infor {
      &-price {
        flex-direction: column;
        .price--new {
          margin-right: 0;
        }
      }
    }
  }
}
