//Home admin
.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

//List admin
.list-admin {
  display: flex;
  width: 100%;
}
.listContainer {
  flex: 6;
}

//New admin
.newContainer {
  flex: 6;

  .top,
  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;

    h1 {
      color: lightgray;
      font-size: 20px;
    }

    .left {
      flex: 1;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .right {
      flex: 2;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
      }
    }
  }
}
.formInput {
  width: 40%;

  label {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      cursor: pointer;
    }
  }

  input,
  select {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
  }
  select:focus {
    outline: none;
  }

  .img-upload {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 10px;
  }
}

.button-admin {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

//Single admin
.singleContainer {
  flex: 6;

  .top {
    padding: 20px;
    display: flex;
    gap: 20px;

    .left {
      flex: 1;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      position: relative;

      .editButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 12px;
        color: #7451f8;
        background-color: #7551f818;
        cursor: pointer;
        border-radius: 0px 0px 0px 5px;
      }

      .item {
        display: flex;
        gap: 20px;

        .itemImg {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          .itemTitle {
            margin-bottom: 10px;
            color: #555;
          }

          .detailItem {
            margin-bottom: 10px;
            font-size: 14px;

            .itemKey {
              font-weight: bold;
              color: gray;
              margin-right: 5px;
            }

            .itemValue {
              font-weight: 300;
            }
          }
          .itemImg-sub {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
          }
        }
      }
    }

    .right {
      flex: 2;
    }
  }

  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 10px 20px;
  }

  .title {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
  }
}
