.category-icon {
  display: none;
}
.category {
  background-color: #fefefe;
  padding: 30px 40px;
  &__menu {
    border: 1px solid #ebebeb;
    &.box-shadow {
      box-shadow: 0px 1px 31.85px 3.15px rgb(0 0 0 / 7%);
    }
    &-item {
      width: 20%;
      position: relative;
      .cmitem__head {
        height: 45px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        i {
          display: block;
          height: 20px;
          width: 20px;
        }
      }
      .cmitem__list {
        display: none;
        border: 1px solid #ebebeb;
        position: absolute;
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 31.85px 3.15px rgba(0, 0, 0, 0.07);
        &-menu {
          position: relative;
          background-color: white;
          z-index: 20;
          padding: 15px 10px;
          li {
            padding: 7px 0;
            font-size: 13px;
            font-weight: 500;
            div {
              display: flex;
              justify-content: space-between;
              .fa-angle-up {
                display: none;
              }
            }
          }
          & > li:hover {
            a {
              color: #f72b3f;
            }
            color: #f72b3f;
            .cmitem__list-submenu {
              a {
                color: #252525;
                &:hover {
                  color: #f72b3f;
                }
              }
            }
          }
        }
        &-submenu {
          margin-top: 10px;
          padding: 0 18px;
          display: none;
        }
      }
      .color {
        display: flex;
        position: relative;
        background-color: white;
        z-index: 20;
        align-items: center;
        padding: 10px;
        &-item {
          display: flex;
          align-items: center;
          margin-right: 5px;
          cursor: pointer;
          input {
            display: none;
          }
          label {
            width: 20px;
            margin-bottom: 0;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            position: relative;
            &::before {
              content: "";
              display: none;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          input[type="radio"]:checked + label {
            &::before {
              display: block;
            }
          }
          input[type="radio"]:hover + label {
            &::before {
              display: block;
            }
          }
          #yellow + label {
            background-color: #ffc815;
          }
          #red + label {
            background-color: #ff003f;
          }
          #green + label {
            background-color: #00dd70;
          }
          #violet + label {
            background-color: #b031b6;
          }
          #orange + label {
            background-color: #ff6347;
          }
          #blue + label {
            background-color: #0000ff;
          }
          #black + label {
            background-color: #000;
          }
          #white + label {
            background-color: #f1f1f1;
          }
        }
      }
      .size {
        position: relative;
        background-color: white;
        z-index: 20;
        margin-top: 10px;
        padding-bottom: 20px;
        max-height: 235px;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #8d99a8;
          border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
        &-item {
          display: flex;
          align-items: center;
          margin-right: 5px;
          padding: 5px 10px;
          input {
            display: none;
          }
          span {
            font-size: 12px;
          }
          label {
            margin-right: 10px;
            width: 20px;
            margin-bottom: 0;
            height: 20px;
            border: 2px solid #ebebeb;
            border-radius: 50%;
            text-align: center;
            position: relative;
            &::before {
              content: "";
              display: none;
              width: 11px;
              height: 11px;
              border-radius: 50%;
              background-color: #f72b3f;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          input[type="radio"]:checked + label {
            border-color: #f72b3f;
            &::before {
              display: block;
            }
          }
        }
      }
      .sort {
        position: relative;
        background-color: white;
        z-index: 20;
        margin-top: 10px;
        margin-bottom: 20px;
        li {
          padding: 5px 10px;
        }
        a {
          font-size: 12px;
          &:hover {
            color: #f72b3f;
          }
        }
      }
    }
    &-item-cate,
    &-item-size,
    &-item-color {
      border-right: 1px solid #ebebeb;
    }
  }
  &__list-product {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -30px;
    .product {
      width: 25%;
      padding: 0 15px;
      margin-bottom: 20px;
    }
  }
  &__pagination {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    ul {
      display: flex;
      li {
        a {
          display: block;
          height: 35px;
          width: 35px;
          line-height: 35px;
          text-align: center;
          background-color: #ebebeb;
          margin: 0 5px;
          &:hover {
            background-color: #f72b3f;
            color: white;
          }
        }
      }
      .paginaton--none {
        display: none;
      }
      .paginaton--select {
        a {
          background-color: #f72b3f;
          cursor: not-allowed;
          color: white;
        }
      }
    }
  }
}
.like {
  margin-top: 20px;
  .container-ct {
    background-image: url(https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/bg_hotline.jpg?1572516554954);
    background-size: cover;
    background-position: center;
    padding: 100px 0 90px;
  }
  &__title {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-transform: uppercase;
      font-size: 26px;
      color: white;
      padding: 0 10px;
      margin: 0 10px;
      white-space: nowrap;
      background-color: transparent;
      &:hover {
        color: #f72b3f;
      }
    }
    span {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
    }
  }
  &__list {
    padding: 25px 50px 50px 50px;
    border: 1px solid #fff;
    margin: 0 150px;
    position: relative;
    .prev-big,
    .next-big {
      display: none;
      position: absolute;
      top: 50%;
      height: 40px;
      width: 40px;
      z-index: 20;
      color: white;
      line-height: 40px;
      text-align: center;
      background-color: #f72b3f;
      &:hover {
        background-color: #060085;
      }
    }
    .prev-big {
      left: 30px;
      cursor: pointer;
    }
    .next-big {
      right: 30px;
      cursor: pointer;
    }
    &:hover {
      .prev-big,
      .next-big {
        display: block;
      }
    }
  }
  .product {
    background-color: white;
    padding-bottom: 20px;
  }
}
.email {
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .category-icon {
    z-index: 100;
    display: block;
    position: fixed;
    top: 40%;
    right: 0;
    transition: all 0.2s;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    background-color: #f72b3f;
    color: white;
    font-size: 24px;
    i {
      align-items: center;
      justify-content: center;
      display: flex;
      height: 100%;
      width: 100%;
    }
    .fa-times {
      display: none;
    }
  }
  .category {
    &__menu {
      position: fixed;
      top: 0;
      z-index: 100;
      right: -256px;
      transition: all 0.2s;
      width: 256px;
      height: 100%;
      background-color: #f3f3f3;
      .row-ct {
        flex-direction: column;
        height: 100%;
        padding: 20px;
        background-color: #f3f3f3;
      }
      &-item {
        width: 100%;
        border: 1px solid #d4d4d4;
        .cmitem__head {
          font-size: 13px;
        }
        .cmitem__list {
          position: static;
        }
      }
      &-item-cate,
      &-item-color,
      &-item-size {
        border-bottom: none;
      }
    }
  }
  .like {
    &__list-product {
      border: 1px solid white;
      margin: 0 15px;
      padding: 0;
      padding-bottom: 60px;
      .product {
        &__slide {
          display: none;
        }
        &__infor {
          margin-top: 20px;
        }
      }
    }
    &__title {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 992px) {
  .category {
    &__list-product {
      .product {
        width: 33.33%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .category {
    padding: 40px 0;
    &__list-product {
      .product {
        width: 50%;
      }
    }
    &__pagination {
      ul {
        li {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
  .like {
    &__list-product {
      .product {
        &__infor {
          padding: 0 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .category {
    &__pagination {
      margin-top: 60px;
      ul {
        li {
          a {
            width: 27px;
            height: 27px;
            line-height: 27px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
