.contact {
  margin-top: 60px;
  margin-bottom: 30px;
  &-head {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__map {
    width: 50%;
    padding: 0 15px;
    &-content {
      iframe {
        width: 100%;
        height: 450px;
      }
    }
  }
  &__form {
    width: 50%;
    padding: 0 15px;
    padding-left: 50px;
  
    .form-item {
      width: 100%;
      label{
        font-size: 14px;
        span{
          color:  #ff2a2d;
        }
      }
      input {
        height: 40px;
        width: 100%;
      }
    }
    .form-btn {
      button {
        padding: 0 30px;
        border-radius: 5px;
        height: 40px;
        line-height: 36px;
        font-size: 14px;
        width: auto;
        border: 1px solid #ff2a2d;
        background-color: #ff2a2d;
        color: white;
        &:hover{
          background-color: white;
          color: #ff2a2d
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .contact {
    .row-ct {
      flex-wrap: wrap;
    }
    &__map {
      width: 100%;
      margin-top: 50px;
      padding: 0 15px;
    }
    &__form {
      width: 100%;
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    &__form {
      .flex-ct--sb {
        flex-wrap: wrap;
      }
      &-item {
        width: 100%;
      }
      .form-btn {
        flex-wrap: wrap;
        &-left {
          width: 100%;
        }
        &-right {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
}

