.news {
  margin-top: 40px;
  img {
    max-width: 100%;
  }
  .img1 {
    width: 1024px;
  }
  h2 {
    font-size: 24px;
    margin: 20px 0 40px;
  }
  p {
    margin-bottom: 15px;
  }
  h3 {
    font-size: 24px;
    margin: 20px 0;
  }
  ul {
    margin: 20px 0;
    li {
      font-weight: 700;
      // list-style-type: disc;
      // margin: 10px 0 10px 20px;
    }
  }
  &-social {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .social__tag {
      a {
        color: #7b7b7b;
        &:hover {
          color: #ff2a2d;
        }
      }
      i {
        color: #7b7b7b;
        font-size: 10px;
        margin-right: 10px;
      }
    }
    .social__share {
      span {
        margin-right: 10px;
        color: #7b7b7b;
      }
      a {
        display: inline-block;
        width: 30px;
        color: #7b7b7b;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        border: solid 1px #ebebeb;
        i {
          color: #7b7b7b;
        }
        &:hover {
          background-color: #ff2a2d;
          i {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .news {
    &-social {
      flex-wrap: wrap;
      border-bottom: none;
      .social__tag {
        width: 100%;
      }
      .social__share {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
