.signin {
  width: 50%;
  margin: 50px auto 100px;
  &__head {
    font-size: 18px;
    color: #323c3f;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }
  &__note {
    margin-top: 50px;
    text-align: center;
    a {
      text-decoration: underline;
      color: #f72b3f;
      &:hover {
        color: #ff2a2d;
      }
    }
  }
  &__social {
    text-align: center;
    margin-top: 30px;
    &-link {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      a {
        display: block;
        margin: 0 2px;
        img {
          width: 129px;
          height: 37px;
        }
      }
    }
  }
  &__pw {
    display: none;
    margin-top: 40px;
  }
}
.button-login {
  width: 129px !important;
  height: 37px !important;
}
@media screen and (max-width: 992px) {
  .signin {
    width: 100%;
    &__head {
      margin-bottom: 30px;
    }
  }
}
